@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.tab-s {
  background: url("../../assets/png/Help.png") no-repeat;
  background-size: 100%;
}
.tab-s:hover {
  background: url("../../assets/png/Help-1.png") no-repeat;
  background-size: 100%;
}

.tab-c {
  background: url("../../assets/png/Circle.png") no-repeat;
  background-size: 100%;
}
.tab-c:hover {
  background: url("../../assets/png/Circle-01.png") no-repeat;
  background-size: 100%;
}

.tab-p {
  background: url("../../assets/png/Polygon.png") no-repeat;
  background-size: 100%;
}
.tab-p:hover {
  background: url("../../assets/png/Polygon-01.png") no-repeat;
  background-size: 100%;
}

.tab-col {
  background: url("../../assets/png/Color.png") no-repeat;
  background-size: 100%;
}
.tab-col:hover {
  background: url("../../assets/png/Color-1.png") no-repeat;
  background-size: 100%;
}

.but {
  background: url("../../assets/png/Butt.png") no-repeat;
  background-size: 100%;
}
.but:hover {
  border: 2px solid rgb(15, 83, 101);
}

.round {
  background: url("../../assets/png/Round.png") no-repeat;
  background-size: 100%;
}
.round:hover {
  border: 2px solid rgb(15, 83, 101);
}

.button_plus {
  background: url("../../assets/png/Plus.png") no-repeat;
  background-size: 100%;
}
.button_plus:hover {
  border: 2px solid rgb(15, 83, 101);
}

.button_minus {
  background: url("../../assets/png/Minus.png") no-repeat;
  background-size: 100%;
}
.button_minus:hover {
  border: 2px solid rgb(15, 83, 101);
}

.app {
  display: flex;
  justify-content: center;
  max-width: 350px;
  flex-wrap: wrap;
}

.tabs {
  display: flex;
  justify-content: center;
  border: 1px solid r #aaaaaa;
  margin: 5px;
}

.tabs-head {
  border: 1px solid #aaaaaa;
  margin: 2px;
}
.tabs-head .tab-h {
  height: 25px;
  width: 25px;
}

p {
  font-size: 10px;
  color: #bbbbbb;
  text-align: center;
}

.text {
  display: flex;
  justify-content: center;
  max-width: 350px;
}

.circle-blok, .polygon-blok {
  display: flex;
  justify-content: center;
  max-width: 350px;
}

.button {
  min-width: 25px;
  height: 25px;
  color: #bbbbbb;
  margin: 2px 10px;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  font-size: 12px;
}
.button:hover {
  border: 2px solid rgb(15, 83, 101);
}

.linecap_blok, .add_end_blok {
  display: flex;
  justify-content: center;
  max-width: 350px;
}

.tab-circle, .tab-polygon {
  background-color: #222222;
  max-width: 350px;
}
.tab-circle legend, .tab-polygon legend {
  color: #bbbbbb;
  font-size: 10px;
}
.tab-circle .field, .tab-polygon .field {
  border: 1px solid #aaaaaa;
  margin: 3px;
}

.point-blok {
  display: flex;
  justify-content: center;
}

.n_points {
  margin: 2px 5px;
}

.inp {
  background-color: #222222;
  color: #bbbbbb;
}