@import "../scss/sass_modules/variables";
@import "../scss/sass_modules/innulstyle";
@import "../scss/sass_modules/buttonHover";





.app{
  display: flex;
  justify-content: center;
  max-width: 350px;
  flex-wrap: wrap;
}



.tabs{
  display:flex;
  justify-content: center;
  border: 1px solid rgb(180, 180, 180);
  margin: 5px;
}

.tabs-head{
  border: 1px solid rgb(180, 180, 180);
  margin: 2px;
  .tab-h{
    height : 25px;
    width: 25px;
  }
}

// p{
//   font-size: 35px;
//   color: red;
// }

.text{
  display:flex ;
  justify-content: center;
  max-width: 350px;
}

