@import "../scss/sass_modules/variables";
@import "../scss/sass_modules/innulstyle";
@import "../scss/sass_modules/buttonHover";


#root{
  background-color: $darkest;
  padding: 2px;
}


.app{
  display: flex;
  // justify-content: flex-end;
  justify-content: center;
  max-width: $max_width;
  flex-wrap: wrap;
  background-color: $darkest;
  margin: 0 2px;
}



.tabs{
  display:flex;
  justify-content: center;
  border: 1px solid r$highlight;
  margin: 5px;
}

.tabs-head{
  border: 1px solid $highlight;
  border-bottom:0 ;
  margin: 2px 2px 0 2px;
  background-color: rgb(0, 249, 133);
  .tab-h{
    height : 25px;
    width: 25px;
  }
}


.tabs-body{
  position: relative;
  top: -1px;
}


.text{
  display:flex ;
  justify-content: center;
  max-width: $max_width;
}

.circle-blok, .polygon-blok, .bloc_palets{
  display: flex;
  justify-content: center;
  max-width: $max_width;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25px;
  height: 25px;
  // background-color: rgb(163, 163, 163);
  color: $yellowfont;
  margin:  3px 10px 10px 3px;
  border: 1px solid $highlight;
  border-radius: 3px;
  font-size: 12px;
  &:hover{
    border: 2px solid $hover;
  }
}

.buttons{
  display: flex;
  justify-content: center;
}

.linecap_blok, .add_end_blok{
  display: flex;
  justify-content:center;
  max-width: $max_width;
  // border: 1px solid $highlight;
}

.tab-circle , .tab-polygon, .tab-color, .settings{
  background-color: $darkest;
  max-width: $max_width;
  border: 1px solid $highlight;
 

legend{
  color: $yellowfont;
  font-size: 12px;
}
.field{
  border: 1px solid $highlight;
  margin:  6px;
}
}


.point-blok{
  display: flex;
  justify-content:center;
}

// .n_points{
//   margin: 2px 10px;
// }

.inp{
  background-color: $darkest;
  font-size: 10px;
  color: $font;
  width: 41px;
  margin: 2px;
}

.colorP{
  display: flex;
  justify-content:center;
}

.blok_palet{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: $max_width;
  .palette{
    width: 25px;
    height: 25px;
    border: 1px solid $highlight;
    margin: 3px;
    background-color: rgb(161, 255, 255);
    color: rgb(161, 255, 255);
    border-radius: 3px;
  }
}

.sett-bloc{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: $max_width;
}

.sett {
  display:flex;
  justify-content: center;
  max-width: $max_width;
  margin: 2px 10px;
}


p{
  font-size: 12px;
  color: $yellowfont;
  text-align: center;
  margin: 2px 10px;
}

.active{
  position: relative;
  z-index: 2;
}

.hide{
  display: none;
}
