@import "../scss/sass_modules/variables";
@import "../scss/sass_modules/innulstyle";
@import "../scss/sass_modules/buttonHover";


#root{
  background-color: $darkest;
}


.app{
  display: flex;
  justify-content: center;
  max-width: 350px;
  flex-wrap: wrap;
  background-color: $darkest;
}



.tabs{
  display:flex;
  justify-content: center;
  border: 1px solid r$highlight;
  margin: 5px;
}

.tabs-head{
  border: 1px solid $highlight;
  margin: 2px;
  .tab-h{
    height : 25px;
    width: 25px;
  }
}

p{
  font-size: 10px;
  color: $font;
  text-align: center;
}

.text{
  display:flex ;
  justify-content: center;
  max-width: 350px;
}

.circle-blok, .polygon-blok{
  display: flex;
  justify-content: center;
  max-width: 350px
}

.button{
  min-width: 25px;
  height: 25px;
  // background-color: rgb(163, 163, 163);
  color: $font;
  margin:  2px 10px;
  border: 1px solid $highlight;
  border-radius: 3px;
  font-size: 12px;
  &:hover{
    border: 2px solid $hover;
  }
}

.linecap_blok, .add_end_blok{
  display: flex;
  justify-content:center;
  max-width: 350px;
  // border: 1px solid $highlight;
}

.tab-circle , .tab-polygon{
  background-color: $darkest;
  max-width: 350px;
 

legend{
  color: $font;
  font-size: 12px;
}
.field{
  border: 1px solid $highlight;
  margin: 6px;
}
}


.point-blok{
  display: flex;
  justify-content:center;
}

.n_points{
  margin: 2px 5px;
}

.inp{
  background-color: $darkest;
  color: $font;
}