@import "../scss/sass_modules/variables";
@import "../scss/sass_modules/innulstyle";
@import "../scss/sass_modules/buttonHover";





.app{
  display: flex;
  justify-content: center;
  max-width: 350px;
  flex-wrap: wrap;
}



.tabs{
  display:flex;
  justify-content: center;
  border: 1px solid rgb(180, 180, 180);
  margin: 5px;
}

.tabs-head{
  border: 1px solid rgb(180, 180, 180);
  margin: 2px;
  .tab-h{
    height : 25px;
    width: 25px;
  }
}

p{
  font-size: 15px;
  color: red;
}

.text{
  display:flex ;
  justify-content: center;
  max-width: 350px;
}

.circle-blok{
  display: flex;
  justify-content: center;
  max-width: 350px
}

.button{
  width: 50px;
  height: 40px;
  background-color: rgb(163, 163, 163);
  color: rgb(255, 1, 1);
  margin:  2px ;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 3px;
}

.linecap_blok, .add_end_blok{
  display: flex;
  justify-content:center;
  max-width: 350px;
}

.tab-circle{
  background-color: rgb(37, 37, 37);
  max-width: 350px;
 

legend{
  color: red;
}
.field{
  border: 1px solid white;
  margin: 3px;
}
}