@import "./variables";


.tab-s{
   background: url('../../../js/assets/png/Help.png') no-repeat;
   background-size: 100%;
   transition: $animate-time;
   &:hover{
     background: url('../../../js/assets/png/Help-1.png') no-repeat;
     background-size: 100%;
   }
 }
 .tab-c{
   background: url('../../../js/assets/png/Circle.png') no-repeat;
   background-size: 100%;
   transition: $animate-time;
   &:hover{
     background: url('../../../js/assets/png/Circle-01.png') no-repeat;
     background-size: 100%;
   }
 }
 
 
 .tab-p{
   background: url('../../../js/assets/png/Polygon.png') no-repeat;
   background-size: 100%;
   transition: $animate-time;
   &:hover{
     background: url('../../../js/assets/png/Polygon-01.png') no-repeat;
     background-size: 100%;
   }
 }
 .tab-col{
   background: url('../../../js/assets/png/Color.png') no-repeat;
   background-size: 100%;
   transition: $animate-time;
   &:hover{
     background: url('../../../js/assets/png/Color-1.png') no-repeat;
     background-size: 100%;
   }

 }
 .but{
   background: url('../../../js/assets/png/Butt.png') no-repeat;
   background-size: 100%;
   &:hover{
    border: 2px solid $hover;
   }
 }
 .round{
   background: url('../../../js/assets/png/Round.png') no-repeat;
   background-size: 100%;
   &:hover{
    border: 2px solid $hover;
   }
 }

 .button_plus, .bt1{
   background: url('../../../js/assets/png/Plus.png') no-repeat;
   background-size: 100%;
   &:hover{
    border: 2px solid $hover;
   }
 }

 .button_minus, .bt2{
   background: url('../../../js/assets/png/Minus.png') no-repeat;
   background-size: 100%;
   &:hover{
    border: 2px solid $hover;
   }
 }