$darkest: #232323;
$darker: #333333;
$dark: #444444;
$font: #bbbbbb;
$highlight: #aaaaaa;

$primary: #88715a;
$secondary: #4a3928;

$active: #20639b;
$changed: #3caea3;
$warning: #f6d55c;
$error: #ed553b;

$hover:#0f5365;
$yellowfont:#faff00;

$colorbg: rgb(43, 43, 43);
$colorbord: rgb(100, 100, 100);
$color-border-button: rgba(250, 250, 0, 0.6);
$color-border-group: rgba(250, 204, 0, 0.596);


$max_width : 380px;
$min_width : 20px;
$size_elem : 23px;
$size_elem2 : 20px;


$animate-time : 300ms;