@import "../scss/sass_modules/variables";
@import "../scss/sass_modules/innulstyle";
@import "../scss/sass_modules/buttonHover";

@mixin style_inp{
  background-color: $darkest;
  font-size: 10px;
  color: $font;
  margin: 2px;
}


#root{
  background-color: $darkest;
  padding: 2px;
  min-width: $min_width;
}


.app{
  display: flex;
  // justify-content: flex-end;
  justify-content: center;
  max-width: $max_width;
  min-width: $min_width;
  flex-wrap: wrap;
  background-color: $darkest;
  margin: 0 2px;
}



.tabs{
  display:flex;
  justify-content: center;
  border: 1px solid r$highlight;
  margin: 5px;
}

.tabs-head{
  border: 1px solid $highlight;
  border-bottom:0 ;
  margin: 1px 1px 0 1px;
  background-color: rgb(0, 249, 133);
  .tab-h{
    height : $size_elem;
    width: $size_elem;
  }
}


.tabs-body{
  position: relative;
  top: -1px;
}


.text{
  display:flex ;
  justify-content: center;
  max-width: $max_width;
}

.circle-blok, .polygon-blok, .bloc_palets{
  display: flex;
  justify-content: center;
  max-width: $max_width;
  // min-width: $min_width;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $size_elem;
  height: $size_elem;
  padding: 2px;
  color: $yellowfont;
  margin:  1px 2px 2px 1px;
  border: 1px solid $highlight;
  border-radius: 3px;
  font-size: 12px;
  &:hover{
    border: 1px solid $hover;
    background-color: #002c49;
    color: #b9dcf3;
  }
}

.buttons{
  display: flex;
  justify-content: center;
}

.linecap_blok, .add_end_blok{
  display: flex;
  justify-content:center;
  max-width: $max_width;
  // min-width: $min_width;
  // border: 1px solid $highlight;
}

.tab-circle , .tab-polygon, .tab-color, .settings{
  background-color: $darkest;
  max-width: $max_width;
  min-width: $min_width;
  border: 1px solid $highlight;
  border-radius: 3px;
  // display: none;
  overflow: hidden;
 

legend{
  color: $yellowfont;
  font-size: 12px;
}
.field{
  border: 1px solid $highlight;
  border-radius: 3px;
  margin:  2px;
}
}


.point-blok{
  display: flex;
  justify-content:center;
}

// .n_points{
//   margin: 2px 10px;
// }

.inp{
  width: 15px;
  @include style_inp;

}
.inp2{
  width: 25px;
  @include style_inp;
}


.colorP{
  display: flex;
  justify-content:center;
}

.blok_palet{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: $max_width;
  .palette{
    width: $size_elem;
    height: $size_elem;
    border: 1px solid $highlight;
    margin: 1px;
    background-color: rgb(161, 255, 255);
    color: rgb(161, 255, 255);
    border-radius: 3px;
  }
}
.blok_palet2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: $max_width;
  .palette2{
    width: $size_elem2;
    height: $size_elem2;
    border: 1px solid $highlight;
    margin: 1px;
    background-color: rgb(161, 255, 255);
    color: rgb(161, 255, 255);
    border-radius: 3px;
  }
}

.sett-bloc{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: $max_width;
}

.sett {
  display:flex;
  justify-content: center;
  max-width: $max_width;
  margin: 2px 0;
}


p{
  font-size: 12px;
  color: $yellowfont;
  text-align: center;
  margin: 2px 5px;
}

.active{
  position: relative;
  z-index: 2;
}

.hide{
  display: none;
}
.visible{
  display: block;
}

.dur_set{
  position: relative;
}

.one_dur{
  margin: 0 0 0 10px;

}

.check{
  margin: 0 0 0 5px;
}

//// это просто пробноая разметка страницы ////
h1, .palet{
  color: $yellowfont;
  margin: 15px;
}

.boddy{
  background-color: $darkest;
  margin: 0 2px;
  max-width: 155px;
  min-height: 200px;
  border: 1px solid $highlight;
  border-radius: 3px;
}
.boddy2{
  background-color: $darkest;
  margin: 0 2px;
  max-width: 115px;
  min-height: 200px;
  border: 1px solid $highlight;
  border-radius: 3px;
}
 h3{
  color: $yellowfont;
  position: absolute;
  top: 4rem;
  left: 6rem;
  font-size: 30px;
 }


 .disabled-div {
  pointer-events: none;
  opacity: 0.3;
  user-select: none;
}

.legend, .palet {
  font-size: 14px;
  color: $colorbord;
}

.setName {
  color: $color-border-button;
  background-color: $colorbg;
  border: 1px solid $color-border-button;
  width: 80px;
  font-size: 14px;
}

.field_1 {
  width: 150px;
  margin: 5px 2px 5px 0;
  padding: 0;
  color: $colorbord;
}
  
  .button_bt {
    background-color: $colorbg;
    color: '#f1e6d6';
    margin: 5px 5px 5px 3px;
    padding: 1px;
    min-width: 20px;
    height: 20px;
    user-select: none;
    text-align: center;
    border: 1px solid $color-border-button;
    border-radius: 2px;
    color: $color-border-button;
 }

 .blok_group{
  color: $color-border-button;
  background-color: $colorbg;
  border: 1px solid $color-border-button;
  width: 80px;
  font-size: 16px;
  margin: 15px 0 5px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
 }

 .blok_group_group{
  color: $color-border-group;
  background-color: $colorbg;
  border: 1px solid $color-border-group;
  width: 80px;
  font-size: 12px;
  margin: 2px 0 2px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
 }

 .stic{
  position: sticky;
  top: 0;
 }


